<h1>Products#view</h1>
<p>Find me in app/views/products/view.html.erb</p>

<div class="product">
  <p>
    <strong>Name: </strong> <%= link_to @product.name, product_path(@product) %>
  </p>
  <p><strong>Price: </strong><%= @product.price %></p>
  <p><strong>Quantity: </strong> <%= @product.quantity %></p>
  <p><%= link_to 'Back', products_path %></p>
</div>
